<body fxLayout="column " fxLayoutAlign="space-around center" >
  <h1>คุณต้องการ...</h1>
          <div>
            <h2>ช่างภาพ</h2>
            <button mat-fab aria-label="ช่างภาพ" (click)="goMakeup()">
              <mat-icon  svgIcon="camera"></mat-icon>
            </button>
          </div>
          <div>
            <h2>ช่างแต่งหน้า</h2>
            <button mat-fab aria-label="ช่างแต่งหน้า" (click)="goCamera()">
              <mat-icon  svgIcon="makeup"></mat-icon>
            </button>
          </div>
  </body>